.user{
    width: 22%;
    border: 2px salmon solid;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user>button{
    width: 25%;
    margin: 5px;
}
.users{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
